:root {
  --dark: #0D0D0D;
  --light: white;
  --jet: #2D2D2D;
  --grey: #C9C9C7;

}

.diamond-logo {
  font-size: 3em;
  margin-right: 1em;

}

.nav-m {
  margin-right: -8em;
}

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

nav {
  background-color: var(--jet);
  color: var(--light);
}

header {
  background-image: url(imgs/hero-img.png);
  height: 100vh;
  background-size: cover;

}

.hero-color {
  background-color: rgba(0, 0, 0, .5);
  height: 100vh;
}

.form-box {
  margin-top: 6.5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 3em;
  padding: 1em;
  background-color: var(--light);
}

.h3-p {
  padding: unset;
}

.text-over-img {
  padding-top: 18em;
}

.message-form {
  padding-bottom: 8em;
}

.offset-p {
  padding-left: 2em;
}

.little-line {
  background-color: #07AB80;
  border: solid 1px var(--jet);
  height: 2em;
  width: .5em;
  margin-right: 10px;
}

.overflow-main {
  background-color: var(--jet);
  background-size: cover;
  position: relative;
  min-height: 70vh;

}

.overflow-left {
  color: var(--light);
  padding: 2em;
  /* margin: 7em 3em; */

}


.overflow-right {
  box-shadow: 0px 2px 5px black;
  background-color: var(--light);
  padding: 1em;

}

.icons {
  font-size: 2em;
  color: var(--green);

}

.diamond-row {
  background-color: var(--dark);
  min-height: 90vh;
}

.gold-img {
  width: 100%;
  min-height: 80vh;
}

/* .gold-color {
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
} */

@media screen and (min-width: 992px) {

  .overflow-right {
    position: absolute;
    margin-right: 2em;
    margin-top: 10em;

  }
}

@media screen and (min-width: 922px) {

  .overflow-adj {
    margin-top: 15em;
  }
}



.review-row {
  background-color: var(--jet);
  min-height: 60vh;
}

.review-cards {
  background-color: var(--light);
  margin: 2em;
  text-align: center;
  padding-top: 4em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding: 2em;
}

.center-card {
  background-color: var(--light);
  margin: 1em;
  text-align: center;
  padding: 2em;
}

.stars {
  font-size: 3em;
  padding: 4px;
}


.footer-img {
  width: 100;
  height: 30vh;
  padding: unset;
}

footer {
  background-color: var(--dark);
}